.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}
.main-slider .slider-item {
  width: 20%;
}
.main-slider .slider-item .slider-item-inner {
  height: 400px;
  padding: 10px;
}
.main-slider .slider-item .slider-item-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main-slider .slider-item.slider-current-item {
  width: 60%;
}
.main-slider .slider-item.slider-current-item .slider-item-inner {
  padding: 4% 0;
}
.main-slider .slider-item.slider-prev-item img {
  clip-path: polygon(0 0, 98% 6%, 98% 94%, 0 100%);
}
.main-slider .slider-item.slider-next-item img {
  clip-path: polygon(2% 6%, 100% 0, 100% 100%, 2% 94%);
}
.main-slider-dots {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main-slider-dots .slider-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid purple;
  margin: 10px 4px;
  cursor: pointer;
}
.main-slider-dots .slider-dot.active {
  background-color: purple;
}

